# Virtual Environment
.venv/

# Dataset files
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.local

# OS clutter
.DS_Store
Thumbs.db

# Logs
*.log

# Model checkpoints & outputs
*.pt
*.pth
*.ckpt
output/
